""
" Shift + Escape : Hide Active Tool Window

set relativenumber
set number

" ========================================================================
" Setting
"" https://towardsdatascience.com/the-essential-ideavim-remaps-291d4cd3971b

""" Editing and Reloading the Config
set clipboard+=unnamed
set clipboard+=ideaput

nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>

""" The Leader Key
let mapleader=" "

""" Distraction Free Mode
nnoremap <c-z> :action ToggleDistractionFreeMode \| :action ViewMainMenu<CR>

""" Terminal
"nnoremap <c-t> :action ActivateTerminalToolWindow<CR> ":sh로 대체
nnoremap <leader>t :action Terminal.OpenInTerminal<CR>

""" Navigation
nnoremap <c-\> :action SplitVertically<CR>
nnoremap <c--> :action SplitHorizontally<CR>
nnoremap <c-=> :action Unsplit<CR>
nnoremap <c-m> :action MoveEditorToOppositeTabGroup<CR>
sethandler <c-j> a:vim
sethandler <c-k> a:vim
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k
nnoremap <s-TAB> :action PreviousTab<CR>
nnoremap <TAB> :action NextTab<CR>
nnoremap <Leader>en :action EditSourceInNewWindow<CR>
nnoremap <Leader>n :action NextWindow<CR>
"/HideActiveWindow


""" Editing source code
set ideajoin
set idearefactormode=keep
"vnoremap < <gv
"vnoremap > >gv
nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>
nnoremap zi :action CollapseRegion<CR>
nnoremap zo :action ExpandRegion<CR>
nnoremap zia :action CollapseAllRegions<CR>
nnoremap zoa :action ExpandAllRegions<CR>
nnoremap <leader>c :action CommentByLineComment<CR>
"nnoremap <leader>r :action Refactorings.QuickListPopupAction<CR>
nnoremap <Leader>r  :action ReformatCode<CR>
" o를 누르면 다음줄 삽입이 발생한다.
"nnoremap <leader>o :action OptimizeImports<CR>
""nnoremap <c-r> :action RecentFiles<CR>
"nnoremap <leader>l :action RecentLocations<CR>
"nnoremap <leader>h  :action LocalHistory.ShowHistory<CR>
nnoremap ge :action GotoNextError<CR>
nnoremap gE :action GotoPreviousError<CR>



""" Searching and Source Code Navigation
set incsearch
nnoremap <c-/> :action FindInPath<CR>
"nnoremap <c-a> :action GotoAction<CR>
"nnoremap <c-f> :action GotoFile<CR>
nnoremap <leader>u :action FindUsages<CR>
nnoremap <leader>q :action QuickJavaDoc<CR>
nnoremap <leader>p :action ParameterInfo<CR>
"nnoremap <leader>s :action GotoRelated<CR>
"nnoremap <leader>h :action CallHierarchy<CR>
"nnoremap <leader>b :action ShowNavBar<CR>
"nnoremap <c-s> :action FileStructurePopup<CR>
"nnoremap <c-o> :action GotoSymbol<CR>
nnoremap gc :action GotoClass<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gp :action GotoSuperMethod<CR>
nnoremap gt :action GotoTest<CR>
nnoremap gb :action Back<CR>
nnoremap gf :action Forward<CR>

""" Tool windows
"nnoremap <c-p> :action JumpToLastWindow<CR>
"nnoremap <c-x> :action HideAllWindows<CR>

""" Running and Debugging
nnoremap ,e :action editRunConfigurations<CR>
nnoremap ,c :action ChooseRunConfiguration<CR>

nnoremap ,r :action Run<CR>
""nnoremap ,rc :action RunClass<CR>
nnoremap ,ar :action ActivateRunToolWindow<CR>
"nnoremap hu :action Rerun<CR>
""nnoremap ,f :action RerunFailedTests<CR>

nnoremap ,b :action ToggleLineBreakpoint<CR>
nnoremap ,d :action Debug<CR>
nnoremap ,ad :action ActivateDebugToolWindow<CR>
nnoremap ,s :action Stop<CR>

" ========================================================================
" plugins
" https://betterprogramming.pub/the-essential-ideavim-plugins-f939b4325180

"Plug 'easymotion/vim-easymotion'
"map <leader>F <Plug>(easymotion-s)
"map <leader>f <Plug>(easymotion-f)

Plug 'preservim/nerdtree'
